<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Flag Icon CSS -->
    <link rel="stylesheet" href="/webjars/flag-icon-css/2.4.0/css/flag-icon.min.css">

    <!-- Bootstrap & JQuery -->
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">

    <!-- Custom styles & JS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/scripts.js"></script>
</head>

<body data-new-gr-c-s-check-loaded="14.1009.0" data-gr-ext-installed="">

<div style="color: darkgrey">

    <!-- header -->
    <div th:insert="~{fragments/fragments-header.html :: header-content}">...</div>

    <!-- page content -->
    <main data-layout-fragment="content"></main>


    <!-- footer -->
    <div th:insert="~{fragments/fragments-footer.html :: footer-content}">...</div>

</div>
</body>
</html>