<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- page content -->
<main data-layout-fragment="content" style="padding-top: 55px">
    <!--    create button-->
    <div class="container-xl table-book-body">

        <form method="post" th:action="@{/create/book}">
            <button type="submit" style="margin-top: 10px"
                    class="btn btn-dark"
            >Add new book
            </button>
        </form>
        <!--        table-->
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Books <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <div class="dropdown-menu">
                                <a th:each="sizeToChoose : ${sizes}"
                                   th:class="${sizeToChoose==size} ? 'dropdown-item active' : 'dropdown-item'"
                                   th:href="@{/(size=${sizeToChoose}, page=${pageNumber})}"
                                   th:text="${sizeToChoose}"></a>
                            </div>
                        </div>
                        <table id="bookTable" class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th width="10%">Cover<i></i></th>
                                <th>Title<i></i></th>
                                <th>Author<i></i></th>
                                <th>Publisher<i></i></th>
                                <th>Year<i></i></th>
                                <th>Price<i></i></th>
                                <th></th>
                                <th>Category</th>
                                <th>Subcategory</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                                table body-->
                            <!--/*@thymesVar id="books" type="org.springframework.data.domain.Page"*/-->
                            <!--/*@thymesVar id="book" type="ua.hillel.bookstore.persistence.dto.BookDTO"*/-->

                            <tr th:each="book: ${books}">
                                <td>
                                    <img width="85%" height="85%" th:src="@{${book.coverImageUrl}}" alt="title">
                                </td>
                                <td th:text="${book.title}"></td>
                                <td th:text="${book.author.name}"></td>
                                <td th:text="${book.publisher.name}"></td>
                                <td th:text="${book.year}"></td>
                                <td th:text="${book.price}"></td>
                                <td>
                                    <div class="list-group">
                                        <form name="delete" method="post" th:action="@{/form/book}">
                                            <input name="id" type="hidden" th:value="${book.id}">
                                            <input name="action" type="hidden" th:value="edit">
                                            <button onclick="" style="margin-top: 10px" type="submit" class="btn btn-primary">Edit</button>
                                        </form>
                                        <form name="delete" method="post" th:action="@{/book}">
                                            <input name="id" type="hidden" th:value="${book.id}">
                                            <input name="action" type="hidden" th:value="delete">
                                            <button onclick="return confirm('Are you sure?')" style="margin-top: 10px" type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </td>
                                <td th:text="${book.subCategory.category.name}"></td>
                                <td th:text="${book.subCategory.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>