<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/book.css">
</head>
<body>
<main data-layout-fragment="content" style="padding-top: 55px">
    <!--            table-->
    <!--/*@thymesVar id="isEmpty" type="java.lang.Boolean"*/-->
    <div th:if="${!isEmpty}" class="container-xl table-book-body">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h3>Your <b>cart</b></h3></div>
                        <div class="col-sm-4">
                        </div>
                        <table id="cartTable" class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th width="10%">Cover<i></i></th>
                                <th>Title<i></i></th>
                                <th>Author<i></i></th>
                                <th>Publisher<i></i></th>
                                <th>Year<i></i></th>
                                <th>Price<i></i></th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                                table body-->
                            <!--/*@thymesVar id="items" type="java.util.List"*/-->
                            <!--/*@thymesVar id="item" type="ua.hillel.bookstore.persistence.dto.CartItemDTO"*/-->
                            <tr th:each="item: ${items}">
                                <td>
                                    <img width="85%" height="85%" th:src="@{${item.book.coverImageUrl}}">
                                </td>
                                <td th:text="${item.book.title}"></td>
                                <td th:text="${item.book.author.name}"></td>
                                <td th:text="${item.book.publisher.name}"></td>
                                <td th:text="${item.book.year}"></td>
                                <td th:text="${item.book.price}"></td>
                                <form name="edit-quantity" method="post" th:action="@{/cart}">
                                    <td>
                                        <input id="id" name="id" type="hidden" th:value="${item.id}">
                                        <input id="action" name="action" type="hidden" th:value="edit">
                                        <div class="form-group">
                                            <label for="quantity">Select quantity</label>
                                            <input style="width: 50px" required="required" type="number" id="quantity"
                                                   name="quantity"
                                                   th:placeholder="${item.quantity}" th:default="${item.quantity}">
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                </form>
                                <form name="delete" method="post" th:action="@{/cart}">
                                    <input name="id" type="hidden" th:value="${item.id}">
                                    <input name="action" type="hidden" th:value="delete">
                                    <div class="form-group">
                                        <label for="quantity"></label>
                                        <label>
                                            <input hidden type="number" name="quantity" th:value="0">
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-price container-book basic-style">
            <!--/*@thymesVar id="cartSum" type="java.lang.Integer"*/-->
            <span style="margin-left: auto" th:text="'Total sum is ' + ${cartSum} + ' grn'"></span>
            <a style=" margin-right: auto" th:if="${cartSum!=0}" href="#" class="cart-btn">Make an order</a>
        </div>
        `
    </div>
    <div class="container-book product-description" th:if="${isEmpty}">
        <h1 style="margin-left: auto; margin-right: auto">Your wishlist is empty</h1>
    </div>
</main>
</body>
</html>