<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>VSP Bookstore</title>
</head>
<body>
<!-- page content -->
<main data-layout-fragment="content" style="padding-top: 55px">
    <!--    logo and cart-->
    <div id="parent" class="navbar navbar-expand-lg navbar-dark logo-margin bg-secondary">
        <img class="logo child" src="/img/favicons/android-chrome-192x192.png" width="100" height="100"
             alt="Logo of company">
        <div style="color: white">
            <h2>The first private bookstore</h2>
        </div>
        <form style="margin-right: 20px" class="child">
            <i class="cart">Total sum : 0 dollars</i>
            <img src="/img/cart.png" alt="Cart" width="40" height="40" class="fa"/>
            <span class='badge badge-warning' id='lblCartCount'> 5 </span>
        </form>
    </div>
    <!--    carousel-->
    <div style="background-image: linear-gradient(#6c757d, white)" id="myCarousel" class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
                    aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img style="display: block; margin-left: auto; margin-right: auto" src="/img/discount.jpg" alt="top-30"
                     width="800" height="400" class="fa"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="carousel-font-style">Discount books.</h1>
                        <p class="carousel-font-style-small">Find best books for you with discount</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Look</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img style="display: block; margin-left: auto; margin-right: auto" src="/img/bestseller.jpg"
                     alt="top-30" width="800" height="400" class="fa"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="carousel-font-style">Bestseller.</h1>
                        <p class="carousel-font-style-small">Best book of last time</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img style="display: block; margin-left: auto; margin-right: auto" src="/img/book_stack.jpg"
                     alt="top-30" width="800" height="400" class="fa"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="carousel-font-style">Our shops</h1>
                        <p class="carousel-font-style-small">You can find us all around the country</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Find in your city</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--    sidebar-->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Filter</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Categories:
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1"
                                   value="something">
                            <label class="form-check-label">Option 1</label>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" id="check2" name="option2"
                                   value="something">
                            <label class="form-check-label">Option 2</label>
                        </label>
                        <!--                        subcategory-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Subcategories:
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" id="sub1" name="option1"
                                   value="something">
                            <label class="form-check-label">Option 1</label>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" id="sub2" name="option2"
                                   value="something">
                            <label class="form-check-label">Option 2</label>
                        </label>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content" class="sb-sidenav">
            <!--            table-->
            <form class="table-book-body">
                <div class="container-xl">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-8"><h2>Books <b>Details</b></h2></div>
                                    <div class="col-sm-4">
                                        <div class="search-box">
                                            <label>
                                                <input type="text" class="form-control search-table"
                                                       placeholder="Find book by title, author and/or publisher">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th width="10%">Cover<i class="fa fa-sort"></i></th>
                                    <th>Title<i class="fa fa-sort"></i></th>
                                    <th>Author<i class="fa fa-sort"></i></th>
                                    <th>Publisher<i class="fa fa-sort"></i></th>
                                    <th>Year<i class="fa fa-sort"></i></th>
                                    <th>Price<i class="fa fa-sort"></i></th>
                                    <th>Add to cart</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--                                table body-->
                                <!--/*@thymesVar id="books" type="java.util.List"*/-->
                                <!--/*@thymesVar id="book" type="ua.hillel.bookstore.persistence.dto.BookDTO"*/-->
                                <tr th:each="book: ${books}">
                                    <td>
                                        <img width="85%" height="85%" th:src="@{${book.coverImageUrl}}">
                                    </td>
                                    <td th:text="${book.title}"></td>
                                    <td th:text="${book.author.name}"></td>
                                    <td th:text="${book.publisher.name}"></td>
                                    <td th:text="${book.year}"></td>
                                    <td th:text="${book.price}"></td>
                                    <td>Add button</td>
                                </tr>


                                </tbody>
                            </table>
                            <div class="clearfix">
                                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#"><i
                                            class="fa fa-angle-double-left"></i></a>
                                    </li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link"><i
                                            class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

