<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      lang="en" data-layout-decorate="~{fragments/layout}">
<head>
    <title>My orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main data-layout-fragment="content" style="padding-top: 55px">

    <div class="container-xl table-book-body">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Orders</h2></div>
                        <table id="orderTable" class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Status<i></i></th>
                                <th>Name<i></i></th>
                                <th>Address<i></i></th>
                                <th>Post<i></i></th>
                                <th>Sum<i></i></th>
                                <th>Date</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                                table body-->
                            <!--/*@thymesVar id="orders" type="java.util.List"*/-->
                            <!--/*@thymesVar id="order" type="ua.hillel.bookstore.persistence.dto.OrderDTO"*/-->

                            <tr th:each="order: ${orders}">
                                <td th:text="${order.status.getCamelCase()}"></td>
                                <td th:text="${order.user.name} + ' ' + ${order.user.surname}"></td>
                                <td th:text="${order.address}"></td>
                                <td th:text="${order.post}"></td>
                                <td th:text="${order.sum}"></td>
                                <td th:text="${order.date}"></td>
                                <td th:text="${order.comment}"></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>